<h1>Products</h1>

<% if @products.any? %>
  <ul>
    <% @products.each do |product|%>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no products yet.</p>
<% end %>

<% if @products.usa.any? %>
  <p>These Products are made in the USA</p>
  <ul>
    <% @products.usa.each do |product|%>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no American made products yet.</p>
<% end %>
<% if current_user && current_user.admin %>
  <p><%= link_to "Create new product", new_product_path %></p>
<% else %>
<% end %>

